.task-list-container{

    .info{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        button{
            padding: 5px;
            cursor: pointer;
        }
    }
}

.status-style{
    font-weight: 700;
    padding: 0px 15px;
    border-radius: 20px;
}