*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

html{
    height: 100%;
    box-sizing: border-box;
}

body{
    position: relative;
    background: #6f3870;
    display:flex;
    margin-top: 15px;
    min-height: 100%;
    box-sizing: inherit;
}

footer, common-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 23px;
    align-self: flex-end;
    color: white;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.main{
    position: absolute;
    width: 98%;
    border-radius: 5px;
    margin: 70px 15px 15px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}