/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.top-menu-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-selector {
    display:flex;
    justify-content: center;
}

.group-selector button,
.project-selector button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
}

.group-selector button:hover,
.project-selector button:hover {
    background-color: #777;
}

#selected-project-name {
    font-size: 1.5em;
}

.content-container {
    display: flex;
    height: calc(100vh - 60px); /* Adjust height based on top menu bar */
}

/* Sidebar Style */
.left-sidebar {
    width: 10%;
    background-color: #f0f0f0;
    padding: 20px;
    overflow-y: auto;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #242020;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: #007bff;
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #cbd1d6;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
 /* Sidebar Style */
.main-body {
    width: 75%;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

.view-selector button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.view-selector button:hover {
    background-color: #0056b3;
}

/*
#gantt-chart-container, #cfd-container {
    margin-top: 20px;
    background-color: #eaeaea;
    padding: 20px;
    min-height: 300px;
    overflow-x: auto; /* Enables horizontal scrolling */
}
*/
#popup-add-task-form {
    margin-bottom: 15px;
}
/* Add to styles.css */
.task-creation-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 800px;
    padding: 20px;
    background-color: #e0e0e0;
    margin: 20px 0;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);

    display: none;
}

.task-creation-form h2 {
    margin-top: 0;
}

.task-creation-form label {
    display: inline-block;
    width: 120px;
}

.task-creation-form input, .task-creation-form select, .task-creation-form textarea {
    margin-bottom: 10px;
    width: calc(100% - 140px);
    padding: 5px;
}

#close-task-form {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    background-color: #1b1f1c;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
}

#add-task-form,
#save-task-form {
    background-color: #1b1f1c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#add-task-form :hover {
    background-color: #218838;
}

/* Task item styles */
.task-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-item h3 {
    margin-top: 0;
}

.project-selector button:hover,
.view-selector button:hover,
.task-creation-form button:hover {
    opacity: 0.8;
}

.task-item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
    border-color: #aaa;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


/* Gantt styles */
.gantt-grid {
    display: grid;
    grid-auto-flow: column; /* Ensure the grid expands horizontally */
    grid-template-rows: auto;
    width: max-content; /* Ensure the grid takes only as much space as needed */
    background-color: #ddd;
    border: 1px solid #bbb;
    margin-bottom: 20px;
}

.gantt-day {
    padding: 10px;
    border-right: 1px solid #bbb;
    text-align: center;
    white-space: nowrap; /* Prevent text wrapping */
}

.gantt-task {
    grid-row: 2;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: 1px solid #0056b3;
    border-radius: 5px;
    margin: 5px 0;
    white-space: nowrap; /* Prevent text wrapping */
}

#gantt-chart-container {
    overflow-x: auto; /* Ensure the container scrolls horizontally */
    overflow-y: hidden;
    white-space: nowrap; /* Prevent wrapping inside the container */
}

.current-day {
    background-color: #ffcc00 !important;
}


/* CFD sytles */
.cfd-chart {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #e0e0e0;
    padding: 20px;
    border: 1px solid #ccc;
    height: 200px;
}

.cfd-stage {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid #0056b3;
    border-radius: 5px;
}

/* Responsiveness */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .left-sidebar, .main-body {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .project-selector button, .view-selector button {
        padding: 8px;
        margin: 0 2px;
    }

    .gantt-grid {
        grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    }
}


/* Chart JS */
.chartMenu {
  width: 100vw;
  height: 40px;
  background: #1A1A1A;
  color: rgba(54, 162, 235, 1);
}
.chartMenu p {
  padding: 10px;
  font-size: 20px;
}
/*
.chartCard {
  width: 100vw;
  height: calc(100vh - 40px);
  background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
  */
.chartBox {
  width: 1rel;  /*Change later*/
  padding: 20px;
  background: white;
}


/* Task List Table Style */
table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
}

thread th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}