.main-body, .task-list-container{
    background: none;
    padding: 20px;
    border-radius: 7px;
    background-color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

/* Task item styles */
.task-item {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task-item h3 {
    margin-top: 0;
}

.project-selector button:hover,
.view-selector button:hover,
.task-creation-form button:hover {
    opacity: 0.8;
}

.task-item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
    border-color: #aaa;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/* Task List Table Style */
table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
}

thread th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}
